<div class="calculator">
  <div class="top-bar">
    <span class="logo">calc</span>
    <div class="theme-switch">
      <label>THEME</label>
      <div class="options">
        <span *ngFor="let t of [1, 2, 3]">{{ t }}</span>
        <div class="toggle">
          <div
            class="dot"
            [ngStyle]="{ 'left.%': (theme - 1) * 38 }"
            (click)="switchTheme()"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="display">{{ display || "0" }}</div>

  <div class="buttons">
    <button
      *ngFor="
        let key of [
          '7',
          '8',
          '9',
          'DEL',
          '4',
          '5',
          '6',
          '/',
          '1',
          '2',
          '3',
          'x',
          '0',
          '.',
          '+',
          '-'
        ]
      "
      (click)="key === 'DEL' ? delete() : append(key)"
      [ngClass]="{ del: key === 'DEL' }"
    >
      {{ key }}
    </button>
    <button class="reset" (click)="reset()">RESET</button>
    <button class="equal" (click)="calculate()">=</button>
  </div>
</div>
